# Ignore __pycache__ directories
__pycache__/

*.pem

# Ignore the Sign Recognition train and test data
traffic_sign_recognition/training/data/train
traffic_sign_recognition/training/data/test

# Ignore the python virtual environments
./venv