# Ignore __pycache__ directories
__pycache__/

*.pem

# Ignore the Sign Recognition train and test data
tools/traffic_sign_recognition/model/data/train
tools/traffic_sign_recognition/model/data/test

# Ignore the python virtual environments
./venv