# Create python virtual environment and install dependencies
#  1. python -m venv myenv
#  2. 
#   - on Windowes: .\myenv\Scripts\activate
#   - on Linux VM: source myenv/bin/activate
#  3. pip install -r requirements.txt

numpy
opencv-python
Flask
tensorflow==2.16.1
keras
flask_sqlalchemy
pandas
matplotlib
scikit-learn
flask_cors
python-dotenv
config
SPARQLWrapper
pillow
