@media (max-width: 768px) {
    section {
        width: 95%;
    }

    header {
        width: 95%;
    }

    nav {
        width: 95%;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
    /* align content on horontal */
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    width: 70%;
}

header h1 {
    margin: 0;
}

header div p a {
    color: white;
}

nav {
    margin: 20px 0;
    text-align: center;
    width: 70%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #3498db;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
}

section h2 {
    color: #2c3e50;
}

section p {
    text-indent: 40px;
}

ul {
    margin: 0;
    padding: 0 20px;
}

section ul li {
    margin: 10px 0;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}