<!DOCTYPE html>
<html>

<!-- schema org -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title> Tras - About Sign </title>
</head>

<body vocab="https://schema.org/" typeof="SearchResultsPage">
    <!-- Page Header Title -->
    <header class="header" onclick="window.location.href='.'">
        <h1>Traffic Sign Information</h1>
    </header>

    <div class="sign-information" id="signInformation">
        <h2>Sumary:</h2>
        <div class="sign-info" id="signInfo">
            <img src="{{ sign_image }}" alt="Sign Image" class="sign-image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
            <p>Name: <span id="signName"> {{ sign_name }}  </span> </p>
            <p>Category: <span id="signCategory"> {{ sign_category }} </span> </p>
            <p>Type: <span id="signType"> {{ sign_type }} </span> </p>
            
            {% if sign_meaning %}
                <p>Meaning: <span id="signDescription"> {{ sign_meaning }} </span> </p>
            {% endif %}

            {% if legal_regulation %}
                <p>Rules: <span id="signRules"> {{ legal_regulation }} </span> </p>
            {% endif %}
        </div>
    </div>

    {% if removes_restrictions %}  
    <div class="sign-information" id="signInformation">
        <h2>Removes Restrictions:</h2>
        <div class="signs_list" id="signPrecedeSigns">
            {% for sign in removes_restrictions %}
                <div class="sign-item" onclick="window.location.href='{{ sign.about_url }}'">
                    <img src="{{ sign.image_url }}" alt="Traffic Sign Image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
                    <p>{{ sign.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}  

    {% if precede_signs %}  
        <div class="sign-information" id="signInformation">
            <h2>Precede the signs:</h2>
            <div class="signs_list" id="signPrecedeSigns">
                {% for sign in precede_signs %}
                    <div class="sign-item" onclick="window.location.href='{{ sign.about_url }}'">
                        <img src="{{ sign.image_url }}" alt="Traffic Sign Image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
                        <p>{{ sign.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if precede_by %}
        <div class="sign-information" id="signInformation">
            <h2>Precede by:</h2>
            <div class="signs_list" id="signPrecedeBy">
                {% for sign in precede_by %}
                    <div class="sign-item" onclick="window.location.href='{{ sign.about_url }}'">
                        <img src="{{ sign.image_url }}" alt="Traffic Sign Image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
                        <p>{{ sign.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Camera JS Script -->
    <!-- <script type="module" src="../static/js/camera.js"></script> -->
</body>

</html>