<!DOCTYPE html>
<html>

<!-- schema org -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title> Tras - About Sign </title>
</head>

<body vocab="https://schema.org/" typeof="AboutPage">

    <!-- Page Header Title -->
    <header class="header" onclick="window.location.href='.'">
        <h1 property="name">Traffic Sign Information</h1>
    </header>

    <!-- Page Contet -->
    <div class="sign-information" id="signInformation" property="mainContentOfPage" typeof="WebPageElement">
        <h2>Sumary:</h2>
        <div class="sign-info" id="signInfo">
            <img src="{{ sign_image }}" alt="Sign Image" class="sign-image" property="image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
            <p property="name">Name: <span id="signName"> {{ sign_name }}  </span> </p>
            <p property="about">Category: <span id="signCategory"> {{ sign_category }} </span> </p>
            <p property="description">Type: <span id="signType"> {{ sign_type }} </span> </p>
            <p >Color: <span id="signType"> {{ sign_color }} </span> </p>
            <p>Shape: <span id="signType"> {{ sign_shape }} </span> </p>

            {% if sign_speed_limit %}
                <p>Speed Limit: <span id="signSpeedLimit"> {{ sign_speed_limit }} </span> </p>
            {% endif %}
            
            {% if sign_meaning %}
                <p>Meaning: <span id="signDescription"> {{ sign_meaning }} </span> </p>
            {% endif %}

            {% if legal_regulation %}
                <p>Rules: <span id="signRules"> {{ legal_regulation }} </span> </p>
            {% endif %}
        </div>
    </div>

    {% if removes_restrictions %}  
    <div class="sign-information" id="signInformation">
        <h2>Removes Restrictions:</h2>
        <div class="signs_list" id="signPrecedeSigns">
            {% for sign in removes_restrictions %}
                <div class="sign-item" onclick="window.location.href='{{ sign.about_url }}'">
                    <img src="{{ sign.image_url }}" alt="Traffic Sign Image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
                    <p>{{ sign.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}  

    {% if precede_signs %}  
        <div class="sign-information" id="signInformation">
            <h2>Precede the signs:</h2>
            <div class="signs_list" id="signPrecedeSigns">
                {% for sign in precede_signs %}
                    <div class="sign-item" onclick="window.location.href='{{ sign.about_url }}'">
                        <img src="{{ sign.image_url }}" alt="Traffic Sign Image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
                        <p>{{ sign.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if precede_by %}
        <div class="sign-information" id="signInformation">
            <h2>Precede by:</h2>
            <div class="signs_list" id="signPrecedeBy">
                {% for sign in precede_by %}
                    <div class="sign-item" onclick="window.location.href='{{ sign.about_url }}'">
                        <img src="{{ sign.image_url }}" alt="Traffic Sign Image" onerror="this.onerror=null; this.src='../static/assets/sign_not_found.png';">
                        <p>{{ sign.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Footer -->
    <footer>
        <span property="description" content="A web application for detecting traffic signs from uploaded images or live camera feed."></span>
        <span property="url" content="{{ url_for('index', _external=True) }}"></span>
        <span id="author" property="author" typeof="Organization">
            <span id="name" property="name">TraS © 2025</span>
            <span id="logo" property="logo" content="{{ url_for('static', filename='assets/logo.png', _external=True) }}"></span>
        </span>
    </footer>

</body>

</html>