<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">    <title> Tras </title>
</head>

<body>
    <!-- Page Header Title -->
    <header class="header">
        <h1>Traffic Sign Detector</h1>
    </header>

    <div class="video-container">
        <video id="video" autoplay playsinline></video>
    </div>

    <canvas id="canvas" width="640" height="480" style="display: none;"> </canvas>

    <div class="sign-information" id="signInformation">
        <h2>Sign Information</h2>
        <div class="sign-info" id="signInfo">
            <p>Name: <span id="signName"> </span> </p>
            <p>Date: <span id="signDate"> </span> </p>
            <p>Meaning: <span id="signDescription"> </span> </p>
        </div>
    </div>

    <!-- Camera JS Script -->
    <script type="module" src="../static/js/camera.js"></script>
</body>

</html>