<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report_style.css') }}">
    <title>User Manual</title>
</head>
<body vocab="https://schema.org/" typeof="ScholarlyArticle">

<header>
    <h1 property="name">User Manual: Traffic Sign Smart Detector</h1>
    <div>
        <p><strong>Authors:</strong> <span property="author" typeof="Person"><span property="familyName">Popescu</span> <span property="givenName">Andrei-George</span></span> & <span property="author" typeof="Person"><span property="familyName">Rumeghea</span> <span property="givenName">Leonard</span></span></p>
        <p><strong>Coordonator:</strong> <a href="https://profs.info.uaic.ro/sabin.buraga/"> Prof. Dr. habil. Sabin-Corneliu Buraga </a> </p>
        <p><strong>Affiliation:</strong> <a href="https://edu.info.uaic.ro/"> Faculty of Computer Science, "Alexandru Ioan Cuza" University of Iasi </a></p>
        <meta property="wordCount" content="590">
    </div>
    <p><strong>Date:</strong> February, 2025</p>
</header>

<nav>
    <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#features">Application Features</a></li>
        <!-- <li><a href="#image-uploade">Image Upload</a></li>
        <li><a href="#real-time-detection">Real-Time Detection</a></li>
        <li><a href="#sign-info">Traffic Sign Information</a></li> -->
        <li><a href="#references">References</a></li>
    </ul>
</nav>

<section id="overview">
    <h2>Overview</h2>
    <p>The Traffic Sign Smart Detector is a web application designed to significantly enhance road safety by providing real-time detection and recognition of traffic signs. Leveraging advanced machine learning techniques, the application is capable of identifying a wide range of traffic signs from images captured via a camera or uploaded by the user. This user manual provides comprehensive instructions on how to install, configure, and utilize the Traffic Sign Smart Detector, ensuring users can make the most of its capabilities.</p>
</section>

<section id="features">
    <h2>Application Features</h2>
    <p>The Traffic Sign Smart Detector boasts a range of powerful features designed to provide users with accurate and timely traffic sign information. These features are meticulously crafted to ensure a seamless user experience, making the application an invaluable tool for enhancing road safety and driver assistance.</p>

    <h3>Image Upload</h3>

    <div class="image-container">
        <figure>
            <img src="{{ url_for('static', filename='assets/doc/screnshots/upload_page.jpg') }}" alt="Upload Page" style="width: 90%;">
            <figcaption>Upload Page</figcaption>
        </figure>
        <div>
            <p>The application allows users to upload images for traffic sign recognition. Once an image is uploaded, the application processes it using machine learning algorithms to identify and recognize traffic signs. After recognition, the user is redirected to a page displaying the detected traffic sign along with relevant information.</p>

            <p>Also, from this page the user can access the real-time detection feature by clicking on the "Camera" button. This feature enables users to detect traffic signs in real-time using their device's camera.</p>

            <strong>Buttons</strong>:
            <ul>
                <li><strong>Choose on image</strong>: Allows users to select an image from their device for sign recognition. After selecting an image, a preview of the image is displayed on the screen.</li>
                <li><strong>Upload</strong>: Initiates the image upload process and triggers the sign recognition algorithm.</li>
                <li><strong>Camera</strong>: Enables users to switch to real-time detection mode using their device's camera.</li>
            </ul>
        </div>
    </div>

    <h3>Real-Time Detection</h3>
    <p>The real-time detection feature allows users to detect traffic signs using their device's camera. By simply pointing the camera at a traffic sign, the application can identify and display information about the detected sign in real-time. This feature is particularly useful for drivers who need immediate information about traffic signs while on the road. The user needs to grant permission to access the camera for this feature to work.</p>
    <p>When a traffic sign is detected in real-time, the application displays the sign's name, meaning, and relevant rules associated with the sign below the camera feed. Users can also access additional information about the sign by clicking on the "Show More" button.</p>

    <div class="image-container">
        <figure>
            <img src="{{ url_for('static', filename='assets/doc/screnshots/grand_camera_permision.jpg') }}" alt="Grand Camera Permission" style="width: 80%;">
            <figcaption>Grant Camera Permission</figcaption>
        </figure>

        <figure>
            <img src="{{ url_for('static', filename='assets/doc/screnshots/live_camera.jpg') }}" alt="Live camera page" style="width: 80%;">
            <figcaption>Live camera page</figcaption>
        </figure>
    </div>


    <h3>Traffic Sign Information</h3>
    <p>For each detected traffic sign, the application provides detailed information including the sign's name, meaning, rules associated, and releated signs in a dedicated page for each sign.  This information is essential for drivers to understand the significance of the sign and comply with the rules associated with it.</p>
    <p> By clicking on a listed sign, the user is redirected to the information page of the selected sign.</p>
    
    <p> The information shown for each sign includes:</p>
    <ol>
        <li><strong>Sign Name</strong>: The name of the traffic sign.</li>
        <li><strong>Sign Meaning</strong>: The meaning or purpose of the traffic sign.</li>
        <li><strong>Rules</strong>: The rules or regulations associated with the traffic sign.</li>
        <li><strong>Category</strong>: The category of the traffic sign (e.g., regulatory, warning, information).</li>
        <li><strong>Type</strong>: The type of the traffic sign (e.g., speed limit, stop sign, yield sign).</li>
        <li><strong>Precede By Signs</strong>: The signs that typically precede the detected sign.</li>
        <li><strong>Followed By Signs</strong>: The signs that typically follow the detected sign.</li>
        <li><strong>Remove restrictions</strong>: The signs that remove the restrictions imposed by the detected sign.</li>
    </ol>

    <figure>
        <img src="{{ url_for('static', filename='assets/doc/screnshots/about_page.jpg') }}" alt="About Sign Page" style="width: 50%;">
        <figcaption>About Sign Page</figcaption>
    </figure>

    
</body>
</html>
